

[flake8]

max-line-length = 120


ignore = E203, E266, E501, W503, F821


exclude = .git,__pycache__,venv


plugins = flake8-naming, flake8-comprehensions, flake8-mccabe, flake8-docstrings, flake8-import-order
